@import "tailwindcss";

/*
|--------------------------------------------------------------------------
| Silwasa Commerce Theme
|--------------------------------------------------------------------------
*/

:root {

    --color-primary: #22C55E;
    --color-primary-dark: #16A34A;

    --color-secondary: #F97316;

    --color-dark: #111827;

    --color-text: #374151;

    --color-light: #F8FAFC;

    --color-border: #E5E7EB;

    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 20px;

}

/*
|--------------------------------------------------------------------------
| Shop Grid
|--------------------------------------------------------------------------
*/

.swc-product-grid {
    @apply list-none p-0 m-0;
}

.swc-product-grid .product {
    @apply m-0;
}

.swc-product-grid img {
    @apply select-none;
}

/*
|--------------------------------------------------------------------------
| WooCommerce Loop
|--------------------------------------------------------------------------
*/

.swc-loop-bottom {

    width: 100%;

}

.swc-product-grid>.product {

    height: 100%;

}

.swc-product-grid>.product>div {

    height: 100%;

}

.swc-loading {

    opacity: .6;

    pointer-events: none;

}

.no-scrollbar::-webkit-scrollbar {

    display: none;

}

.no-scrollbar {

    -ms-overflow-style: none;

    scrollbar-width: none;

}

/* Promo Banner */
.line-clamp-2 {

    overflow: hidden;

    display: -webkit-box;

    -webkit-line-clamp: 2;

    -webkit-box-orient: vertical;

}