@import "tailwindcss";

/*
|--------------------------------------------------------------------------
| Silwasa Commerce Theme
|--------------------------------------------------------------------------
*/

:root {

    --color-primary: #22C55E;
    --color-primary-dark: #16A34A;

    --color-secondary: #F97316;

    --color-dark: #111827;

    --color-text: #374151;

    --color-light: #F8FAFC;

    --color-border: #E5E7EB;

    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 20px;

}